/stamp-opentx.h
/opentx.elf
/simu
/opentx.map
/simu.d
/snapshot_*.png
/*.sh
/*.bat
/*.bin
/*.bin.*
/*.hex
/*.lst
/*.lss
/SCRIPTS
/TEMPLATES
/SOUNDS
/LOGS
/allsrc.cpp
/BMP
/traces
/MODELS
/FIRMWARES
/EEPROMS
/gtests
/gtest_main.a
/gtests.d
/lua_exports.cpp
/lua_exports.txt
/lua_fields.txt
/allsimusrc.cpp
