/opentx.elf
/simu
/opentx.map
/simu.d
/snapshot_*.png
/*.sh
/*.bat
/*.bin
/*.bin.*
/*.hex
/*.lst
/*.lss
/SCRIPTS
/TEMPLATES
/SOUNDS
/LOGS
/allsrc.cpp
/allsimusrc.cpp
/BMP
/traces
/RADIO
/MODELS
/FIRMWARES
/EEPROMS
/gtests
/gtest_main.a
/gtests.d
/lua_exports*
/lua_fields*
.directory

