[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Companion
GenericName=Transmitter Companion App
Comment=The Ultimate Transmitter Companion
Icon=companion
Exec='companion'
Terminal=false
StartupNotify=false
Categories=Application
