[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=companion9x
GenericName=COMPANION9X
Comment=9x EeProm Editor
Icon=/usr/share/icons/companion9x.png
Exec='companion9x'
Terminal=false
StartupNotify=false
Categories=Application