[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Companion
GenericName=COMPANION
Comment=The ultimate transmitter companion
Icon=/usr/share/icons/companion9x.png
Exec='companion9x'
Terminal=false
StartupNotify=false
Categories=Application
