################################################################################
##
## Copyright (C) 2008-2012 The openOCD Project <http://openocd.sourceforge.net>
##
## This file is part of openOCD.
##
## openOCD is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by the Free
## Software Foundation; either version 2 of the License, or (at your option)
## any later version.
##
## openOCD is distributed in the hope that it will be useful, but WITHOUT ANY
## WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
## FOR A PARTICULAR PURPOSE. See the GNU General Public License for more 
## details.
##
## You should have received a copy of the GNU General Public License along with
## this program; if not, write to the Free Software Foundation, Inc., 59 Temple
## Place, Suite 330, Boston, MA  02111-1307  USA
##
################################################################################
#
# STM32f4x stlink pseudo target
#

if { [info exists CHIPNAME] == 0 } {
   set CHIPNAME stm32f4x
}

if { [info exists CPUTAPID] == 0 } {
   set CPUTAPID 0x2ba01477
}

if { [info exists WORKAREASIZE] == 0 } {
   set WORKAREASIZE 0x10000
}

source [find target/stm32_stlink.cfg]

# stm32f4x family uses stm32f2x driver
set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME stm32f2x 0 0 0 0 $_TARGETNAME
